*.asv
code/temp_output.mat
image/
image_multi/
processed/
CALM.png
ERK.png
ERK_ph.png
FOSC.png
FRA2.png
FullCellSeg_pMEK_IntDistPDFs.png
ITGB1.png
ITGB4.png
JUNB.png
JUNC.png
K10.png
K14.png
MEK.png
MEK_ph.png
outputCurateCytoNucAlignment.tiff
Raf.png
Raf_ph.png
SFN.png
README.txt
README_data.txt
*.mat